{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <script>
        function validateUsername() {
            var username = document.getElementById('username').value;
            var message = document.getElementById('message');

            if (!username.endsWith('.cs50')) {
                message.textContent = 'Your username should match name.cs50';
                message.style.color = 'red';
                return false;
            } else {
                message.textContent = '';
            }
            return true;
        }
    </script>

    <form action="/register" method="post" onsubmit="return validateUsername()">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text">
            <span id="message"></span>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="confirmation" placeholder="Password (re-type)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
{% endblock %}